// Общие стили писать тут
//=============================================================================================================================================

// Заголовки


// Ссылки


// Элементы формы

.button {
    padding: 11px 21px 12px 21px;
    background-color: #000;
    color: #fff;
    border-radius: 7px;
    font-size: 24px;
    line-height: math.div(36, 22);
    transition: all 0.2s ease;

    @media (max-width:1394.98px) {
        font-size: 18px;
        padding: 5px 16px 6px 16px;
    }

    /*срабатывает при клике пили переходе на tab */
    &:focus {
        outline: 2px solid #000;
        outline-offset: 3px;
    }

    &:hover {
        background-color: #E6C744;
    }

    /*удерживает кнопку мыши на элементе*/
    &:active {
        background-color: #f3cc20;
        transform: translateY(2px);
    }
}

// Прочее