// Общие стили писать тут
//=============================================================================================================================================

// Заголовки

.title {
    display: inline-block;
    position: relative;
    font-weight: 900;
    font-size: 48px;
    line-height: 104%;
    letter-spacing: 0.06em;

    &::before {
        content: "";
        position: absolute;
        bottom: -5px;
        right: -3px;
        background: url('../img/decor.svg') 0 0 no-repeat;
        background-size: cover;
        width: 190px;
        height: 32px;
        z-index: -1;
    }
}

.rectangle-white {
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: -40px;
        width: 90%;
        height: 100%;
        transform: rotate(-2deg);
        background-color: #fff;
        z-index: -1;

        @media (max-width:$tablet) {
            left: -15px;
        }

        @media (max-width:$mobile) {
            width: 120%;
        }
    }
}

.rectangle-yellow {
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: -20px;
        width: 100%;
        height: 100%;
        transform: rotate(-2deg);
        background-color: #EBD96B;
        z-index: -1;

        @media (max-width:$tablet) {
            left: -5px;
            width: 100%;
        }

        @media (max-width:$mobile) {

            width: 110%;
        }
    }
}

// Ссылки


// Элементы формы

.button {
    display: inline-block;
    padding: 19px 40px;
    background-color: #000;
    color: #fff;
    border-radius: 7px;
    font-size: 30px;
    line-height: math.div(36, 22);
    transition: all 0.2s ease;

    @media (max-width:1394.98px) {
        font-size: 20px;
        padding: 10px 20px;
    }

    /*срабатывает при клике пили переходе на tab */
    &:focus {
        outline: 2px solid #000;
        outline-offset: 3px;
    }

    &:hover {
        background-color: #E6C744;
    }

    /*удерживает кнопку мыши на элементе*/
    &:active {
        background-color: #f3cc20;
        transform: translateY(2px);
    }
}

.decor-star {
    position: absolute;
    width: 6.66%;
    height: 6.6%;
    background: url('../img/star.svg') 0 0 no-repeat;
    background-size: contain;

    &__one {
        top: 9.8%;
        left: -2.3%;
    }

    //871

    &__two {
        top: 14.4%;
        right: 18%;
    }

    &__three {
        right: 0.3%;
        bottom: 11.7%;
    }

    &__four {
        left: 2.6%;
        bottom: 4.3%;
    }
}

// Прочее