// страница home

.explore {
    margin-bottom: 63px;

    @media (max-width:$tablet) {
        margin-bottom: 30px;
    }

    // .explore__container

    &__container {}

    // .explore__slider

    &__slider {
        width: 100%;

        @media (min-width:$mobile) {
            max-height: 797px;
        }
    }

    // .explore__wrapper

    &__wrapper {}

    // .explore__slide

    &__slide {
        background-color: #eee;
        border-radius: 20px;
        overflow: hidden;
    }

    // .explore__body

    &__body {
        display: flex;

        @media (max-width:$mobile) {

            //min-height: 580px;
            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                background-color: rgba(255, 255, 255, 0.637);
                width: 100%;
                height: 100%;
                z-index: 2;
            }
        }
    }

    // .explore__main

    &__main {
        padding: 68px 48px 90px 125px;

        @media (max-width:1252.98px) {
            padding: 60px 20px 70px 80px;
        }

        @media (max-width:$tablet) {
            padding: 30px 18px 30px 25px;
        }

        @media (max-width:$mobile) {
            display: flex;
            flex-direction: column;
            width: 100%;
            padding: 25px 30px;
            align-self: flex-start;
            z-index: 3;
        }
    }

    // .explore__title

    &__title {
        font-weight: 900;
        line-height: 1.25;
        z-index: 1;
        @include adaptiveValue("font-size", 96, 45);

        span {
            display: block;

            @media (max-width:$mobile) {
                display: inline-block;
            }
        }

        &:not(:last-child) {
            margin-bottom: 40px;
        }

        @media (max-width:1252.98px) {
            &:not(:last-child) {
                margin-bottom: 30px;
            }
        }

        @media (max-width:$tablet) {
            &:not(:last-child) {
                margin-bottom: 20px;
            }
        }

        @media (max-width:$mobile) {
            &:not(:last-child) {
                margin-bottom: 15px;
            }

            max-width: 70%;
        }
    }

    // .explore__sub-title

    &__sub-title {
        font-size: 22px;

        @include adaptiveValue("font-size", 22, 16);


        &:not(:last-child) {
            margin-bottom: 48px;
        }

        @media (max-width:1252.98px) {
            &:not(:last-child) {
                margin-bottom: 30px;
            }
        }

        @media (max-width:$tablet) {
            &:not(:last-child) {
                margin-bottom: 20px;
            }
        }

        @media (max-width:$mobile) {
            &:not(:last-child) {
                margin-bottom: 15px;
            }
        }
    }

    // .explore__button

    &__button {
        @media (max-width:$mobile) {
            text-align: center;
        }
    }

    // .explore__picture

    &__picture {
        align-self: flex-end;
        position: relative;
        // width: 50%;
        flex: 1 0 50.6%;

        img {
            width: 100%;
            object-fit: contain;
        }

        @media (max-width:1252.98px) {
            align-self: center;
        }

        @media (max-width:$mobile) {
            position: absolute;
            bottom: 0;
            right: 0;
            padding: 0 0 0 20%;
            z-index: -1;

            img {}
        }

    }
}

// partners

.partners {
    padding: 51px 0 44px 0;
    background-color: #EBD96B;
    margin-bottom: 69px;

    @media (max-width:1394.98px) {
        padding: 30px 0;
    }

    @media (max-width:$tablet) {
        padding: 17px 0;
    }

    // .partners__container

    &__container {}

    // .partners__body

    &__body {
        @media (min-width:1720px) {
            margin: 0 71px;
        }
    }

    // .partners__items

    &__items {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 -20px;
        flex-wrap: wrap;
        row-gap: 20px;

        @media (max-width:$mobile) {
            row-gap: 10px;
        }
    }

    // .partners__item

    &__item {
        flex: 1 0 235px;
        padding: 0 20px;
        margin: 5px 0;

        @media (max-width:$mobile) {
            flex: 1 0 160px;
        }

        img {
            width: 100%;
            max-height: 69px;
            object-fit: contain;


            @media (max-width:$mobile) {
                max-height: 40px;
            }
        }
    }
}


// section arrivals

.arrivals {
    margin-bottom: 190px;

    // .arrivals__title

    &__title {
        margin-bottom: 100px;

        @media (max-width:1720px) {
            margin-bottom: 50px;
        }
    }

    // .arrivals__body

    &__body {}

    // .arrivals__items

    &__items {
        display: flex;
        margin: 0 -45px;

        @media (max-width:1720px) {
            margin: 0 -25px;
        }

        @media (max-width:$tablet) {
            overflow: auto;
            margin: 0 -15px;
        }
    }

    // .arrivals__item

    &__item {
        padding: 0 45px;
        flex: 0 1 33.333%;
        min-width: 300px;

        @media (max-width:1720px) {
            padding: 0 25px;
        }

        @media (max-width:$tablet) {
            flex: 0 1 45%;
            padding: 0 15px;
        }

        @media (max-width:$mobile) {
            min-width: 90%;
        }

    }
}

.title {}

.item-arrivals {

    &:hover {
        .item-arrivals__picture img {
            transform: scale(1.05);
        }
    }

    // .item-arrivals__picture

    &__picture {
        margin-bottom: 28px;
        max-height: 704px;
        object-fit: contain;
        border-radius: 20px;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: transform 0.2s ease;
        }
    }

    // .item-arrivals__body

    &__body {
        display: flex;
        overflow: hidden;
    }

    // .item-arrivals__links

    &__links {
        flex: 1 1 auto;
    }

    // .item-arrivals__title-link

    &__title-link {
        font-weight: 500;
        font-size: 32px;
        line-height: 156%;
        letter-spacing: -0.04em;
        color: #191919;
        transition: color 0.2s ease;

        @media (any-hover: hover) {
            &:hover {
                color: #EBD96B;
            }
        }

        &:not(:last-child) {
            margin-bottom: 7px;
        }

        @media (max-width:1240px) {
            font-size: 26px;
        }
    }

    // .item-arrivals__subtitle-link

    &__subtitle-link {
        font-weight: 500;
        font-size: 24px;
        line-height: 208%;
        letter-spacing: -0.04em;
        color: #7f7f7f;
        transition: color 0.3s ease;

        @media (max-width:1240px) {
            font-size: 18px;
        }
    }

    // .item-arrivals__arrow

    &__arrow {
        flex: 0 0 32px;
        margin-top: 23px;
        width: 32px;
        height: 22px;
        margin-left: 15px;
        background: url('../img/arrov-right.svg') 0 0 no-repeat;
        background-size: cover;
    }
}